body {
  background-image: url("./images/background.jpg");
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 1fr;
}

.header-left {
  margin-left: 30%;
}

h1 {
  font-weight: bold;
  text-shadow: 2px 2px 2px gray;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1fr;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-col {
  padding: 1em;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
}

input[type="submit"] {
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5em 1em;
}

input[type="submit"]:hover {
  background-color: darkblue;
  cursor: pointer;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 2px 2px 2px lightblue;
  outline: none;
}

.error {
  border: 1px solid red;
}

.form-col-submit {
  display: grid;
  place-items: center;
}

footer {
  background-image: linear-gradient(to right, lightblue, lightgreen);
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 1fr;
  position: absolute;
  bottom: 0;
  width: 100%;
  }
  
  .footer-left {
  color: white;
  text-align: left;
  }
  
  .footer-right {
  color: white;
  text-align: right;
  }